* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // transition: all 1s;
}
$width: 100%;
$border: 1px solid;

@mixin container {
   max-width: 1300px;
  // width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  //   border: 1px solid white;
}
@mixin display {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 88.6%;
  color: #ffffff;
}
@mixin p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ffffff;
}
@mixin h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 88.6%;
  color: #000000;
}
.span{
  color:#ff0000;
}