@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans&family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Gothic&family=Open+Sans&family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Nanum+Gothic&family=Open+Sans&family=Tenor+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.span {
  color: #ff0000;
}

.header {
  margin: 0 auto;
  background-color: rgb(21, 21, 21);
}
.header .container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.header .container .header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .header-nav_logo {
  width: 10%;
  cursor: pointer;
}
.header .container .header-nav_logo p {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.header .container .header-nav .header-nav_list {
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}
.header .container .header-nav .header-nav_list li {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
.header .container .header-nav .header-nav_list li:hover {
  color: #ff0000;
  border-bottom: 1px dashed #ff0000;
}
.header .container .header-nav_adress {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header-nav_adress h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.header .container .header-nav_adress p {
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.header .container .header-nav_bars {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }
  .header .container {
    width: 100%;
  }
  .header .container .header-nav {
    width: 100%;
    justify-content: space-between;
  }
  .header .container .header-nav_logo {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
  }
  .header .container .header-nav .header-nav_list {
    display: none;
  }
  .header .container .header-nav_adress {
    width: 50%;
  }
  .header .container .header-nav_adress p {
    display: none;
  }
  .header .container .header-nav_bars {
    width: 5%;
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .header {
    width: 100%;
  }
  .header .container {
    width: 100%;
  }
  .header .container .header-nav {
    width: 100%;
    justify-content: space-between;
  }
  .header .container .header-nav_logo {
    width: 30%;
  }
  .header .container .header-nav_logo img {
    width: 60px;
  }
  .header .container .header-nav_logo p {
    font-size: 10px;
  }
  .header .container .header-nav .header-nav_list {
    display: none;
  }
  .header .container .header-nav_adress {
    width: 60%;
  }
  .header .container .header-nav_adress h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .header .container .header-nav_adress p {
    display: none;
  }
  .header .container .header-nav_bars {
    width: 5%;
    display: block;
  }
}
.hero {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(1, 1, 1);
  background-image: url(../../img/Mask\ Group.png);
  background-repeat: no-repeat;
  background-position: 65% 0%;
}
.hero .container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.hero .container .hero-block {
  display: flex;
  height: 500px;
}
.hero .container .hero-block_content {
  width: 50%;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.hero .container .hero-block_content h2 {
  width: 95%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 88.6%;
  color: #ffffff;
  font-size: 60px;
}
.hero .container .hero-block_content p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.hero .container .hero-block_content__btn {
  width: 352px;
  height: 58px;
  background: #ff0000;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .container .hero-block_content__btn .btn-subtitle2 {
  display: none;
}
.hero .container .hero-block_img {
  width: 50%;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 100%;
    background-image: url(../../img/Mask\ Group.png);
    background-repeat: no-repeat;
    background-position: 65% -100%;
    background-size: 100 auto;
  }
  .hero .container {
    width: 100%;
  }
  .hero .container .hero-block {
    display: flex;
    height: 500px;
  }
  .hero .container .hero-block_content {
    width: 80%;
  }
  .hero .container .hero-block_content h2 {
    width: 100%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 88.6%;
    color: #ffffff;
  }
  .hero .container .hero-block_content p {
    width: 100%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  .hero .container .hero-block_content__btn .btn-subtitle1 {
    display: none;
  }
  .hero .container .hero-block_content__btn .btn-subtitle2 {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    width: 100%;
    background: url("../../img/hero-image-sm.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: 65% 80%;
  }
  .hero .container {
    width: 100%;
  }
  .hero .container .hero-block {
    display: flex;
    height: 500px;
  }
  .hero .container .hero-block_content {
    width: 100%;
  }
  .hero .container .hero-block_content h2 {
    width: 70%;
    font-size: 40px;
    line-height: 118.57%;
  }
  .hero .container .hero-block_content p {
    width: 91%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  .hero .container .hero-block_content__btn {
    width: 80%;
  }
  .hero .container .hero-block_content__btn .btn-subtitle1 {
    display: none;
  }
  .hero .container .hero-block_content__btn .btn-subtitle2 {
    display: block;
  }
}
.prices {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
}
.prices .container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.prices .container .prices-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.prices .container .prices-list h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 88.6%;
  color: #000000;
}
.prices .container .prices-list p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ffffff;
  color: black;
}
.prices .container .prices-list li {
  width: 379px;
  height: 449px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 248, 248);
}
.prices .container .prices-list li h3 {
  width: 85%;
}
.prices .container .prices-list li p {
  width: 85%;
}
.prices .container .prices-list li .prices-list_btn {
  width: 85%;
  height: 50px;
  background: transparent;
  border: 1px solid gray;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ffffff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.prices .container .prices-list .prices-list_itm {
  display: none;
}

@media screen and (max-width: 768px) {
  .prices {
    width: 100%;
  }
  .prices .container {
    width: 100%;
  }
  .prices .container .prices-list {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
  }
  .prices .container .prices-list h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 88.6%;
    color: #000000;
  }
  .prices .container .prices-list p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #ffffff;
    color: black;
  }
  .prices .container .prices-list li {
    width: 337.43px;
    height: 449px;
  }
  .prices .container .prices-list li h3 {
    width: 85%;
  }
  .prices .container .prices-list li p {
    width: 85%;
  }
  .prices .container .prices-list li .prices-list_btn {
    width: 85%;
    height: 50px;
  }
  .prices .container .prices-list .prices-list_itm {
    display: flex;
    align-items: center;
  }
  .prices .container .prices-list .prices-list_itm img {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .prices {
    width: 100%;
  }
  .prices .container {
    width: 100%;
  }
  .prices .container .prices-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .prices .container .prices-list h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 88.6%;
    color: #000000;
  }
  .prices .container .prices-list p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #ffffff;
    color: black;
  }
  .prices .container .prices-list li {
    width: 333.43px;
    height: 449px;
  }
  .prices .container .prices-list li h3 {
    width: 85%;
  }
  .prices .container .prices-list li p {
    width: 85%;
  }
  .prices .container .prices-list li .prices-list_btn {
    width: 85%;
    height: 50px;
  }
  .prices .container .prices-list .prices-list_itm {
    display: none;
  }
}
.designed {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: black;
}
.designed .container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.designed .container .designed-title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 88.6%;
  color: #ffffff;
}
.designed .container .designed-block {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}
.designed .container .designed-block_card {
  width: 330px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.designed .container .designed-block_card__title {
  display: flex;
  justify-content: space-between;
}
.designed .container .designed-block_card__title h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 88.6%;
  color: #000000;
  color: white;
  font-size: 35px;
  line-height: 40px;
}
.designed .container .designed-block_card p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.designed .container .designed-content {
  width: 100%;
  gap: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.designed .container .designed-content .design-content_text {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 35%;
}
.designed .container .designed-content .design-content_text h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 55.641px;
  line-height: 68px;
  text-align: center;
  color: #ff0000;
}
.designed .container .designed-content .design-content_text h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 88.57%;
  color: #fff8f8;
}
.designed .container .designed-content .design-content_subtitle {
  width: 40%;
}
.designed .container .designed-content .design-content_subtitle p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.designed .container .designed-btn {
  width: 498px;
  height: 58px;
  margin: auto;
  margin-top: 50px;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .designed {
    width: 100%;
  }
  .designed .container {
    width: 100%;
  }
  .designed .container .designed-title {
    width: 80%;
  }
  .designed .container .designed-title h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 88.6%;
    color: #ffffff;
    line-height: 50px;
  }
  .designed .container .designed-block {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .designed .container .designed-content {
    width: 100%;
  }
  .designed .container .designed-content .design-content_text {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 55%;
  }
  .designed .container .designed-content .design-content_text h2 {
    font-size: 55.641px;
    line-height: 68px;
  }
  .designed .container .designed-content .design-content_subtitle {
    width: 45%;
  }
  .designed .container .designed-content .design-content_subtitle p {
    font-size: 16px;
  }
  .designed .container .designed-btn {
    width: 498px;
    height: 58px;
    margin-top: 25px;
  }
}
@media screen and (max-width: 480px) {
  .designed {
    width: 100%;
  }
  .designed .container {
    width: 100%;
  }
  .designed .container .designed-title {
    width: 80%;
  }
  .designed .container .designed-title h2 {
    font-size: 33px;
    line-height: 128.57%;
  }
  .designed .container .designed-block {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    row-gap: 20px;
  }
  .designed .container .designed-block_card {
    width: 100%;
  }
  .designed .container .designed-block_card p {
    width: 100%;
  }
  .designed .container .designed-content {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
  }
  .designed .container .designed-content .design-content_text {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 55%;
  }
  .designed .container .designed-content .design-content_text h2 {
    font-size: 55.641px;
    line-height: 68px;
  }
  .designed .container .designed-content .design-content_subtitle {
    width: 100%;
  }
  .designed .container .designed-content .design-content_subtitle p {
    font-size: 16px;
  }
  .designed .container .designed-btn {
    width: 70%;
    height: 58px;
    margin: auto;
    margin-top: 25px;
  }
}
.cost {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 150px;
  margin-bottom: 100px;
}
.cost .container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.cost .container .cost-block {
  display: flex;
  position: relative;
  height: 500px;
}
.cost .container .cost-block .cost-block_rate {
  position: absolute;
  left: 31px;
  top: 180px;
  z-index: 1;
  width: 660px;
  height: 400px;
  background: #fff8f8;
  box-shadow: 0px 26px 76px rgba(12, 22, 36, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
.cost .container .cost-block .cost-block_rate h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 88.6%;
  color: #000000;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 137.19%;
  color: #000000;
  width: 80%;
}
.cost .container .cost-block .cost-block_rate p {
  width: 80%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ffffff;
  color: #000000;
}
.cost .container .cost-block .cost-block_rate__btn {
  width: 40%;
  height: 58px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
.cost .container .cost-block .cost-block_img {
  position: absolute;
  left: -320px;
  z-index: -1;
}
.cost .container .cost-block .cost-block_img #cost-img1 {
  position: absolute;
  left: 735px;
  top: 122px;
}
.cost .container .cost-block .cost-block_img #cost-img2 {
  position: absolute;
  left: 1306px;
  top: 509px;
  z-index: 2;
}
.cost .container .cost-block .cost-block_img #cost-img3 {
  position: absolute;
  left: 1346px;
  top: 89px;
  z-index: 2;
}
.cost .container .cost-block .cost-block_img #cost-img4 {
  position: absolute;
  left: 831px;
  top: 19px;
}

@media screen and (max-width: 768px) {
  .cost {
    width: 100%;
  }
  .cost .container {
    width: 100%;
  }
  .cost .container .cost-block {
    flex-direction: column;
  }
  .cost .container .cost-block .cost-block_rate {
    width: 90%;
    top: 400px;
    left: 10px;
  }
  .cost .container .cost-block .cost-block_img {
    position: absolute;
    left: 1x;
    z-index: -1;
  }
  .cost .container .cost-block .cost-block_img #cost-img1 {
    width: 628.97px;
    position: absolute;
    left: 310px;
    top: 122px;
  }
  .cost .container .cost-block .cost-block_img #cost-img2 {
    display: none;
  }
  .cost .container .cost-block .cost-block_img #cost-img3 {
    width: 230px;
    position: absolute;
    left: 746px;
    top: 89px;
    z-index: 2;
  }
  .cost .container .cost-block .cost-block_img #cost-img4 {
    position: absolute;
    left: 331px;
    top: 19px;
  }
}
@media screen and (max-width: 480px) {
  .cost {
    width: 100%;
  }
  .cost .container {
    width: 100%;
  }
  .cost .container .cost-block {
    flex-direction: column;
  }
  .cost .container .cost-block .cost-block_rate {
    width: 90%;
    top: 350px;
    left: 10px;
  }
  .cost .container .cost-block .cost-block_rate h3 {
    width: 90%;
    font-size: 28px;
    line-height: 137.19%;
  }
  .cost .container .cost-block .cost-block_rate p {
    width: 90%;
    font-size: 16px;
    line-height: 183.91%;
  }
  .cost .container .cost-block .cost-block_rate__btn {
    width: 90%;
    height: 58px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  }
  .cost .container .cost-block .cost-block_img {
    position: absolute;
    left: -300px;
    top: -70px;
    z-index: -1;
    width: 100%;
  }
  .cost .container .cost-block .cost-block_img #cost-img1 {
    width: 354.68px;
    position: absolute;
    left: 310px;
    top: 122px;
  }
  .cost .container .cost-block .cost-block_img #cost-img2 {
    display: none;
  }
  .cost .container .cost-block .cost-block_img #cost-img3 {
    width: 130px;
    position: absolute;
    left: 543px;
    top: 89px;
    z-index: 2;
  }
  .cost .container .cost-block .cost-block_img #cost-img4 {
    width: 162.85px;
    position: absolute;
    left: 331px;
    top: 59px;
  }
}
.project {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: black;
}
.project .container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.project .container .project-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 88.6%;
  color: #ffffff;
}
.project .container .project-title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 88.57%;
  color: #ffffff;
}
.project .container .project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  row-gap: 10px;
}
.project .container .project-list li img {
  width: 582px;
  height: 374px;
  cursor: pointer;
}
.project .container .project-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}
.project .container .project-button .project-button_btn {
  width: 281px;
  height: 58px;
  background: transparent;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .project {
    width: 100%;
    margin-top: 200px;
  }
  .project .container {
    width: 100%;
  }
  .project .container .project-title h2 {
    font-size: 50px;
    line-height: 88.57%;
  }
  .project .container .project-list li img {
    width: 340px;
    height: 220px;
    cursor: pointer;
  }
  .project .container .project-button {
    justify-content: center;
  }
  .project .container .project-button .project-button_btn {
    width: 281px;
  }
}
@media screen and (max-width: 480px) {
  .project {
    width: 100%;
    margin-top: 200px;
  }
  .project .container {
    width: 100%;
  }
  .project .container .project-title {
    text-align: center;
  }
  .project .container .project-title h2 {
    font-size: 50px;
    line-height: 88.57%;
  }
  .project .container .project-list {
    align-items: center;
    flex-direction: column;
  }
  .project .container .project-list li img {
    width: 340px;
    height: 220px;
    cursor: pointer;
  }
  .project .container .project-button {
    justify-content: center;
  }
  .project .container .project-button .project-button_btn {
    width: 281px;
  }
}
.progress {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.progress .container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.progress .container .progress-title h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
}
.progress .container .progress-block {
  display: flex;
  justify-content: space-between;
}
.progress .container .progress-block .progress-block_container1 .progress-block_card1 {
  width: 50%;
  position: relative;
}
.progress .container .progress-block .progress-block_container1 .progress-block_card1__draft {
  display: flex;
  align-items: center;
}
.progress .container .progress-block .progress-block_container1 .progress-block_card1__draft h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 174.14px;
  line-height: 212px;
  text-align: center;
  color: #858585;
}
.progress .container .progress-block .progress-block_container1 .progress-block_card1__draft h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
}
.progress .container .progress-block .progress-block_container1 .progress-block_card1__img {
  margin-top: -80px;
}
.progress .container .progress-block .progress-block_container2 {
  width: 50%;
  position: relative;
}
.progress .container .progress-block .progress-block_container2 .progress-block_card1 {
  width: 50%;
  margin-top: 200px;
  position: relative;
}
.progress .container .progress-block .progress-block_container2 .progress-block_card1__draft {
  display: flex;
  align-items: center;
}
.progress .container .progress-block .progress-block_container2 .progress-block_card1__draft h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 174.14px;
  line-height: 212px;
  text-align: center;
  color: #858585;
}
.progress .container .progress-block .progress-block_container2 .progress-block_card1__draft h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35.9123px;
  line-height: 44px;
}
.progress .container .progress-block .progress-block_container2 .progress-block_card1__img {
  margin-top: -80px;
}
.progress .container .progress-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.progress .container .progress-button__btn {
  margin: auto;
  margin-top: 100px;
  width: 422px;
  height: 58px;
  background: #ff0000;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

@media screen and (max-width: 768px) {
  .progress {
    width: 100%;
  }
  .progress .container {
    width: 100%;
  }
  .progress .container .progress-block .progress-block_container1 .progress-block_card1__draft h2 {
    font-size: 91.7909px;
    line-height: 112px;
  }
  .progress .container .progress-block .progress-block_container1 .progress-block_card1__draft h3 {
    font-size: 22px;
    line-height: 27px;
  }
  .progress .container .progress-block .progress-block_container1 .progress-block_card1__img {
    margin-top: -50px;
  }
  .progress .container .progress-block .progress-block_container1 .progress-block_card1__img img {
    width: 287.28px;
    height: 192.4px;
  }
  .progress .container .progress-block .progress-block_container2 {
    width: 50%;
    position: relative;
  }
  .progress .container .progress-block .progress-block_container2 .progress-block_card1 {
    width: 50%;
    margin-top: 50px;
    position: relative;
  }
  .progress .container .progress-block .progress-block_container2 .progress-block_card1__draft {
    display: flex;
    align-items: center;
  }
  .progress .container .progress-block .progress-block_container2 .progress-block_card1__draft h2 {
    font-size: 91.7909px;
    line-height: 112px;
  }
  .progress .container .progress-block .progress-block_container2 .progress-block_card1__draft h3 {
    font-size: 22px;
    line-height: 27px;
  }
  .progress .container .progress-block .progress-block_container2 .progress-block_card1__img {
    margin-top: -40px;
  }
  .progress .container .progress-block .progress-block_container2 .progress-block_card1__img img {
    width: 287.28px;
    height: 192.4px;
  }
  .progress .container .progress-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .progress .container .progress-button__btn {
    margin-top: 50px;
    width: 422px;
    height: 58px;
    background: #ff0000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
}/*# sourceMappingURL=style.css.map */