.hero {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(1, 1, 1, 1);
  background-image: url(../../img/Mask\ Group.png);
  // background-size:90%;
  background-repeat: no-repeat;
  background-position: 65% 0%;
  .container {
    @include container();
    .hero-block {
      display: flex;
      height: 500px;

      &_content {
        width: 50%;
        font-size: 60px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        h2 {
          width: 95%;
          @include h2();
          font-size: 60px;
        }
        p {
          @include p();
        }
        &__btn {
          width: 352px;
          height: 58px;
          background: #ff0000;
          @include p();
          @include display();
          cursor: pointer;
          .btn-subtitle2 {
            display: none;
          }
        }
      }
      &_img {
        width: 50%;
        background-size: cover;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .hero {
    width: 100%;
    background-image: url("../../img/Frame\ 20.png");
    background-repeat: no-repeat;
    background-position: 65% 100%;
    background-size: 100 auto;
    .container {
      width: 100%;
      .hero-block {
        display: flex;
        height: 500px;

        &_content {
          width: 80%;

          h2 {
            width: 100%;
            @include h2();
          }
          p {
            width: 100%;
            @include p();
          }
          &__btn {
            .btn-subtitle1 {
              display: none;
            }
            .btn-subtitle2 {
              display: block;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .hero {
    width: 100%;
    background: url("../../img/hero-image-sm.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: 65% 80%;
    // background-size: 400px 100px;
    .container {
      width: 100%;
      .hero-block {
        display: flex;
        height: 500px;
        &_content {
          width: 100%;
          h2 {
            width: 70%;
            font-size: 40px;
            line-height: 118.57%;
          }
          p {
            width: 91%;
            @include p();
          }
          &__btn {
            width: 80%;
            .btn-subtitle1 {
              display: none;
            }
            .btn-subtitle2 {
              display: block;
            }
          }
        }
      }
    }
  }
}
